:root {
    --first-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color: #ffffff;
    --fourth-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
    --first-background-color: #f5f4fa;
    --second-background-color: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--first-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------------HEADER-------------- */

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.header-logo {
    color: #000000;
}

.header-item .link.current {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active,
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}

/* --------------HERO-------------- */

.hero {
    background-color: var(--second-background-color);
}

.hero-item {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: var(--third-text-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

/* --------------BENEFITS-------------- */

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text-color);
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* --------------ABOUT-------------- */

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* --------------TEAM-------------- */

.team {
    background-color: var(--first-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.team-item {
    background-color: var(--main-background-color);
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* --------------FOOTER-------------- */

.footer {
    background-color: var(--second-background-color);
}
.footer-logo {
    color: #ffffff;
}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}

.contacts-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fourth-text-color);
}

.address-link:hover,
.address-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* --------------PORTFOLIO-------------- */

.button {
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--first-background-color);
    color: var(--first-text-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.current-btn,
.button:hover,
.button:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}

.portfolio-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
